.coverage
*.pyc
.hg*
*.swp
.DS_Store
parts
downloads
eggs
develop-eggs
bin
build
docs/build
dist
include
.Python
.*.egg-info
.installed.cfg
accountific.db
.coverage
.noseids
tests/.noseids
*.bak
*~
#*#
caldav.egg-info/
tests/conf_private.py
.tox
.eggs
.venv
caldav/_version.py
