## PRIVATE CALDAV SERVER(S) TO RUN TESTS TOWARDS
## Make a list of your own servers/accounts that you'd like to run the
## test towards.  Running the test suite towards a personal account
## should generally be safe, it should not mess up with content there
## and it should clean up after itself, but don't sue me if anything
## goes wrong ...

caldav_servers = [
    {
        ## This is all that is really needed - url, username and
        ## password.  The username and password may also be passed in
        ## the URL itself (like
        ## https://sam_i_am:hunter2@server.example.ccom/)
	'url': 'https://some.server.example.com',
        'username': 'testuser',
        'password': 'hunter2',

	## skip ssl cert verification, for self-signed certificates
	## (sort of moot nowadays with letsencrypt freely available)
        #'ssl_cert_verify': False

	## There are some boolean options that may be passed i.e. to
	## skip tests (many CalDAV server features are marked as
	## optional in the RFC, for one thing), to skip verifying SSL
	## certificate, etc.  Leave the list blank on first attempt, then
	## add things as needed (see also compatibility_issues.py)
	#'nocalendarnotfound': True,
	#'nodefaultcalendar: True,
	#'nodisplayname: True,
	#'noproxy': True,
        #'nojournal': True,
	#'nofreebusy': True.
	#'notodo': True,
	#'notododatesearch': True
	#'nopropfind': True,
	#'norecurring': True,
	#'norecurringexpandation': True,
	#'noexpand': True,
	#'calendarcolor': True,
	#'calendarorder': True,
	#'fragilesynctokens': True
    }]

## MASTER SWITCHES FOR TEST SERVER SETUP
## With those configuration switches, pre-configured test servers in conf.py
## can be turned on or off

## test_public_test_servers - Use the list of common public test
## servers from conf.py.  As of 2020-10 no public test servers exists, so this option
## is currently moot :-(
test_public_test_servers = False

## test_private_test_servers - test using the list configured above in this file.
test_private_test_servers = True

## test_xandikos and test_radicale ... since the xandikos and radicale caldav server implementation is
## written in python and can be instantiated quite easily, those will
## be the default caldav implementation to test towards.
test_xandikos = True
test_radicale = True

## DEPRECATED - only_private is superceded by test_public_servers,
## left here for backward-compatibility.
#only_private=False
