## PRIVATE CALDAV SERVER(S) TO RUN TESTS TOWARDS

## Make a list of your own servers/accounts that you'd like to run the
## test towards.  Running the test suite towards a personal account
## should generally be safe, it should not mess up with content there
## and it should clean up after itself, but don't sue me if anything
## goes wrong ...

caldav_servers = [
    {
	'url': 'https://some.server.example.com',
        'username': 'testuser',
        'password': 'hunter2',
	'nocalendarnotfound': True,
        'nojournal': True,
        'ssl_cert_verify': False
    }]

## MASTER SWITCHES FOR TEST SERVER SETUP
## With those configuration switches, pre-configured test servers in conf.py
## can be turned on or off

## test_public_test_servers - Use the list of common public test servers
## from conf.py.  This has proven to be unreliable and fragile, hence
## the default is flipped to False.  It's very important to run
## through all the different server implementations and try to figure
## out of all breakages before any major release.  If not too
## difficult it also ought to be done before any minor release.
test_public_test_servers = False

## test_private_test_servers - test using the list configured above in this file.
test_private_test_servers = True

## test_xandikos - since the xandikos caldav server implementation is
## written in python and can be instantiated quite easily, this will
## be the default caldav implementation to test towards ... but, unfortunately
## it works only with python 3.4 and higher
test_xandikos = True

## DEPRECATED - only_private is superceded by test_public_servers
#only_private=False
