name: Link check

on: [push, pull_request]

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check links with Lychee
      uses: lycheeverse/lychee-action@v2
      with:
        fail: true
        args: >-
          --timeout 20
          --max-retries 3
          '**/*.md'
          '**/*.rst'
